/0Abstract.aux
/0Acknowledgement.aux
/0Acknowledgment.aux
/0Nomenclature.aux
/1Introduction.aux
/2Methodology.aux
/3Conclusion.aux
/CertificatePage.aux
/CoverPage.aux
/References.aux
/seminar_report.aux
/seminar_report.bbl
/seminar_report.bcf
/seminar_report.blg
/seminar_report.fdb_latexmk
/seminar_report.fls
/seminar_report.lof
/seminar_report.log
/seminar_report.out
/seminar_report.run.xml
/seminar_report.synctex.gz
/seminar_report.toc